@import "tailwindcss";

/* ============================= */
/* Global Custom Scrollbar */
/* ============================= */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #050B1E; /* dark background */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    rgba(52, 211, 153, 0.6),
    rgba(52, 211, 153, 0.2)
  );
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    rgba(52, 211, 153, 0.9),
    rgba(52, 211, 153, 0.4)
  );
}

/* Firefox scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(52, 211, 153, 0.6) #050B1E;
}

